/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

@use "uswds-core" with (
    $theme-image-path: "../images",
    $theme-font-path: "../fonts",

    $theme-color-primary-light: #8DA9E0,
    $theme-color-primary: #405E97,
    $theme-color-primary-vivid: #2753A7,
    $theme-color-primary-dark: #1B3973,

    $theme-color-base-lightest: #F6F7F9,
    $theme-color-base-lighter: #E8EBF0,
    $theme-color-base-light: #7F8CA3,
    $theme-color-base: #566580,
    $theme-color-base-dark: #465166,
    $theme-color-base-darker: #3E495D,
    $theme-color-base-darkest: #2D3544,
    $theme-color-base-ink: #1A1F28,

 
    $theme-summary-box-background-color: "base-lightest",
    $theme-summary-box-border-color: "base-light"
  );