---
layout: layouts/smarttax
title: FAQs
permalink: /smarttax/faqs/
sortorder: 7
hero:
  image: /assets/img/hero.jpg
  heading: Common Questions about State Taxes
tags: smarttax
sidenav_parent_text: SmartTax
parent_link: /smarttax/
---
{% for faq in faqs %}
<h3 class="site-preview-heading">{{ faq.account }}</h3>
<p>{{faq.desc}}</p>
<div class="usa-accordion">
  {% for qa in faq.qa %}
  <h4 class="usa-accordion__heading">
    <button
      type="button"
      class="usa-accordion__button"
      aria-expanded="true"
      aria-controls="a{{qa.id}}"
    >
     
     {{qa.question | safe}}
    </button>
  </h4>
  <div id="a{{qa.id}}" class="usa-accordion__content usa-prose">
  
   {% for p in qa.answer %}
    <p>
      {{p.para | safe}}
    </p>
  {% endfor %}
  
   <p>
    
    {% if qa.applies_to %}
       {% for item in qa.applies_to %}
          <span class="usa-tag">{{item}}</span>
       {% endfor %}
    {% endif %}
   
   </p>
    
  </div>
  {% endfor %}

</div>
{% endfor %}