---
import PageLayout from '../../layouts/PageLayout.astro';
import SideNav from '../../components/SideNav.astro'

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const entries = await getCollection('smarttax');
  return entries.map(entry => {
    return {
      params: { slug: entry.slug },
      props: { entry, entries }
    }
  })
}

const { entry, entries } = Astro.props;
const { Content, headings } = await entry.render();
---
<PageLayout title={entry.data.title}>
  <SideNav 
    title="State Tax Information"
    parent_path="smarttax/"
    pages={entries}
    headings={headings}
    id={entry.id}
  />
  <div class="usa-layout-docs__main desktop:grid-col-8 usa-prose usa-layout-docs">
    <h1>{ entry.data.title }</h1>

    { entry.data.intro && ( 
      <p class="usa-intro">
        { entry.data.intro }
      </p>
    )}

    <Content />
  </div>
</PageLayout>

<style is:global>
  img {
    width: 49%;
  }
  table img {
    width: 120px;
  }
</style>