<div class="push"></div>
<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://cloud.gov">
              {% image_with_class "./_img/logo_0.png" "width-card height-auto" "Agency logo" %}
            </a>
          </div>
        </div>
        <div class="tablet:grid-col"></div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="https://www.facebook.com/GSASmartPayNews/">Facebook</a></li>
            <li><a href="https://twitter.com/GSASmartPayNews">Twitter</a></li>
            <li><a href="https://www.linkedin.com/company/gsasmartpaynews">LinkedIn</a></li>
          </ul>
        </div>
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li><a href="https://buy.gsa.gov/interact/">GSA Interact</a></li>
            <li><a href="mailto:gsa_smartpay@gsa.gov">Email</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
