{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading"><span class="usa-hero__heading--alt">GSA SmartPay</span>
      </h1>
      <p>The GSA SmartPay Program is the largest government charge card and commercial payment solutions program in the world.</p>
      <a class="usa-button" href="about/">Find out more</a>
    </div>
  </div>
</section>
