{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "_img/red-card.png" "usa-media-block__img" "Red charge card with the word Purchase and numbers 1234 5678 9012 3456 and the name John Smith, with a bird in the background" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Purchase</h3>
          <p>
            Use to procure, order, and pay for supplies and services.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "_img/blue-card.png" "usa-media-block__img" "Blue charge card with the word Travel and numbers 1234 5678 9012 3456 and the name John Smith, with an airplane in the background" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Travel</h3>
          <p>
            Use for official travel and travel-related expenses.
          </p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "_img/silver-card.png" "usa-media-block__img" "Silver charge card with the words Tax advantage and numbers 1234 5678 9012 3456 and the name John Smith, with a car and buildings in the background" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">
            Tax Advantage
          </h3>
          <p>
            Use for travel with point-of-sale tax exemption for lodging and car rentals.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "_img/green-card.png" "usa-media-block__img" "Green charge card with the word Fleet and numbers 1234 5678 9012 3456 and the name John Smith, with a road in the background" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Fleet</h3>
          <p>
            Use for fuel, maintenance, and repair of government owned/operated vehicles.
          </p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "_img/yellow-card.png" "usa-media-block__img" "Yellow charge card with the word Intergrated and numbers 1234 5678 9012 3456 and the name John Smith, with a globe outline in the background" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">
            Integrated
          </h3>
          <p>
            Combines two or more business lines on a single account.
          </p>
        </div>
      </div>
    </div>    
  </div>
</section>
