<div class="grid-row flex-row text-center padding-top-205">
    <div class="grid-col"><a href="https://smartpay.gsa.gov/content/bank-customer-service-centers">{% image_with_class  "_img/vector/backpoints.png" "usa-media-block__img" "Red and blue building icon with pillars" %} 
    Bank Contact Information</a></div>
    <div class="grid-col"><a href="https://smartpay.gsa.gov/gsa-smartpay-points-contact">{% image_with_class  "_img/vector/contact.png" "usa-media-block__img" "Red and blue phone icon with markers indicating noise" %} Contact GSA</a></div>
    <div class="grid-col"><a href="https://smartpay.gsa.gov/content/strategic-payment-solutions-0">{% image_with_class  "_img/vector/lightbulb.png" "usa-media-block__img" "Red and blue lightbulb with a dallar sign in the middle" %} Strategic Solutions</a></div>
</div>