{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Our payment solutions help government agencies deliver on their mission</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>Established in 1998, the GSA SmartPay Program is the world’s largest government charge card and commercial payment solutions program, providing services to more than 560 federal agencies, organizations, and Native American tribal governments. GSA SmartPay payment solutions enable authorized government employees to make purchases on behalf of the federal government in support of their agency/organization’s mission.</p>
    </div>
  </div>
</section>