---
pagination:
  data: states
  size: 1
  alias: state
eleventyComputed:
  permalink: "/state-tax-information/{{ state.name | slug }}.md"
---
---
layout: layouts/state-tax

state: {{ state.name }}
exceptionsApply: {% if state.summary.special %}true{% else %}false{% endif %}
summary:
{%- if state.summary.special -%}
{%- for specialItem in state.summary.special %}
  - {{ specialItem }}
{%- endfor -%}
{% else %}
  - Individually billed accounts (IBA) are{% if not state.summary.iba_exempt %} not{% endif %} exempt from state sales tax.
  - Centrally billed accounts (CBA)) are{% if not state.summary.cba_exempt %} not{% endif %} exempt from state sales tax.
{%- endif %}
contact:
  name: {{ state.contact.name }}
  link: {{ state.contact.link }}
  phone: {{ state.contact.phone }}
---
{% if state.forms %}
## Required forms
{% if state.forms.purchase %}
### Purchase card
{% for form in state.forms.purchase.links %}
* [{{ form.title }}]({{ form.link }}) {% if form.optional %}<span class="usa-tag">Optional</span>{% endif %}
{% endfor %}
{%- if state.forms.purchase.notes %}
#### Notes
{% for note in state.forms.purchase.notes %}
{{ note | safe }}
{% endfor %}
{%- endif %}
{%- endif %}

{%- if state.forms.travel %}
### Travel card
{% for form in state.forms.travel.links %}
* [{{ form.title }}]({{ form.link }}) {% if form.optional %}<span class="usa-tag">Optional</span>{% endif %}
{% endfor %}
{%- if state.forms.travel.notes %}
#### Notes
{% for note in state.forms.travel.notes %}
{{ note | safe }}
{% endfor %}
{%- endif %}
{%- endif %}
{%- endif %}

{%- if state.policies %}
## State laws, regulations, policies
{% for item in state.policies.links %}
* [{{ item.title }}]({{ item.link }}) {% if item.optional %}<span class="usa-tag">Optional</span>{% endif %}
{% endfor %}
{%- if state.policies.notes %}
#### Notes
{% for note in state.policies.notes %}
{{ note | safe }}
{% endfor %}
{%- endif %}
{%- endif %}