---
import { getCollection } from 'astro:content';
import PageLayout from '@layouts/PageLayout.astro';
import SideNav from '@components/SinglePageSideNav.astro'
export async function getStaticPaths() {
  const entries = await getCollection('audits');
  return entries.map(entry => {
    return {
      params: { slug: entry.slug},
      props: { entry}
    }
  })
}
const { entry} = Astro.props;
const { Content, headings } = await entry.render();
---

<PageLayout title ={entry.data.title} >
  <SideNav 
    title={entry.data.title}
    headings ={headings}
    parent_nav_path="policies-and-audits/audits"
    parent_nav_text = "Return to the Audit Repository" 
  />
  <main id="main-content" class="usa-layout-docs__main desktop:grid-col-8 usa-prose usa-layout-docs">
    <h1>{entry.data.title}</h1>
    <Content />
  </main>
</PageLayout>