---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro"
import hero_image from "../assets/images/smartpay_website_hero.jpg"
import Businesslines from '../components/Businesslines.astro';

---
<BaseLayout>
	<Hero  hero_image={hero_image}>
        GSA SmartPay
        <span slot="subheader">
            The GSA SmartPay Program is the largest government charge card and commercial payment solutions program in the world.
        </span>
		<div slot ="linkbutton">
			<a class="usa-button" href="about/">Find out more</a>
		</div>
    </Hero>
    <Businesslines />

</BaseLayout>
