---
/*
This is Home page. 
Top banner, search, Primary Menu and footer are defined in BaseLayout compment.
Hero, callout and business line section details are defined in corresponding components.
*/
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro"
import hero_image from "@assets/images/smartpay_website_hero.jpg"
import Businesslines from '@components/Businesslines.astro';
import Callout from "@components/Callout.astro";
---
<BaseLayout title="GSA SmartPay" description="The GSA SmartPay Program is the largest government charge card and commercial payment solutions program in the world">
  <main id="main-content">
    <Hero  hero_image={hero_image}>
      GSA SmartPay
      <span slot="subheader">
        The GSA SmartPay Program is the largest government charge card and commercial payment solutions program in the world.
      </span>
      <div slot ="linkbutton" class="display-flex">
        <a class="usa-button" href={`${import.meta.env.BASE_URL}about/`}>Find out more</a>
        <a class="usa-button usa-button--outline" href={`${import.meta.env.BASE_URL}about/benefits/`}>Benefits</a>
      </div>
      </Hero>
      <Callout />
      <Businesslines />
  </main>
</BaseLayout>
