---
import { getCollection } from 'astro:content';
import PageLayout from '../../../layouts/PageLayout.astro';
import TopNav from '@components/TopNav.astro';
export async function getStaticPaths() {
  const entries = await getCollection('publications');
  return entries.map(entry => {
    return {
      params: { slug: entry.slug},
      props: { entry}
    }
  })
}
const { entry} = Astro.props;
const { Content} = await entry.render();

---

<PageLayout title ={entry.data.title} >
  <TopNav parent_nav_path="resources/publications" parent_nav_text = "Return to the Publications and Videos" />
      <div class="usa-layout-docs__main usa-prose usa-layout-docs">
        <h1>{entry.data.title}</h1>
        <p class="usa-intro">{entry.data.intro}</p>
        <Content />
      </div>
    </div>
</PageLayout>