
<div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col padding-top-2"><slot name="left"></div>
      <div class="tablet:grid-col"><slot name="right"></div>
    </div>
  </div>
  <hr />