---
import callout_889 from '../assets/images/callout_889.svg'
import callout_map from '../assets/images/callout_map.svg'
import callout_forum from '../assets/images/callout_forum.svg'
---
<section class="sp_callout">
    <div class="grid-container margin-y-6">
        <div class="grid-row grid-gap ">
          <div class="tablet:grid-col-6">
            <img
             src ={callout_889}
             alt =""
            >
          </div>
          <div class="tablet:grid-col-6">
            <h2>Section 889 Search</h2>
            <p>Our Section 889 search tool makes it easy to check an entity’s Section 889 status in <a href="https://sam.gov/">SAM.gov</a>.</p>
            <p><a href="https://889.smartpay.gsa.gov/">Go to the 889 search tool →</a></p>
          </div>
        </div>
        <div class="grid-row grid-gap margin-y-2">
            <div class="tablet:grid-col-6">
                <img
                src ={callout_map}
                alt =""
                >
            </div>
            <div class="tablet:grid-col-6">
                <h2>State Tax Information</h2>
                <p>Check the tax-exempt status and policies of U.S. states and territories.</p>
                <p><a href="/statetax/">Go to tax information →</a></p>
            </div>
        </div>
        <div class="grid-row grid-gap">
            <div class="tablet:grid-col-6">
                <img
                src ={callout_forum}
                alt =""
                >
            </div>
            <div class="tablet:grid-col-6">
                <h2>2023 GSA SmartPay Virtual Training Forum</h2>
                <span>June 13-15, 2023</span>
                <p>This three-day virtual event will feature comprehensive training covering all aspects of how to successfully manage your charge card program.
                </p>
                <p><a href="/statetax/">Go to event →</a></p>
            </div>
        </div>
    </div>
</section>