---
import GSALogo from '../assets/images/gsa-smartpay-program-logo.svg'
import closeIcon from '../assets/images/usa-icons/close.svg'
import searchIcon from "../assets/images/usa-icons/search--white.svg"


---
<header class="usa-header usa-header--extended">
    <div class="usa-navbar">
      <div class="usa-logo" id="header-logo">
          <a href={`${import.meta.env.BASE_URL}`}>
              <img class="usa-logo-img" src={GSALogo} alt="GSA SmartPay Logo" title="U.S. General Services Administration">
          </a>
      </div>
      <button type="button" class="usa-menu-btn cursor-pointer">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <div class="usa-nav__inner">
        <button type="button" class="usa-nav__close">
          <img src={ closeIcon } alt="Close" />
        </button>
        <ul id='header_main_menu' class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-about"
            >
              <span>About</span>
            </button>
            <ul id="extended-nav-section-about" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-how-it-works"
            >
              <span>How it Works</span>
            </button>
            <ul id="extended-nav-section-how-it-works" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-stakeholders"
            >
              <span>Stakeholders</span>
            </button>
            <ul id="extended-nav-section-stakeholders" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-merchants"
            >
              <span>Merchants</span>
            </button>
            <ul id="extended-nav-section-merchants" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-statetax"
            >
              <span>State Tax Information</span>
            </button>
            <ul id="extended-nav-section-statetax" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-policy"
            >
              <span>Policies & Audits</span>
            </button>
            <ul id="extended-nav-section-policy" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-resources"
            >
              <span>Resources</span>
            </button>
            <ul id="extended-nav-section-resources" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
            </ul>
          </li>
        </ul>

        <div class="usa-nav__secondary">
          <ul class="usa-nav__secondary-links">
            <li class="usa-nav__secondary-item">
              <a href="https://training.smartpay.gsa.gov">
                Training
              </a>
            </li>
            <li class="usa-nav__secondary-item">
              <a href="javascript:void(0);">
                Contact
              </a>
            </li>
            <li class="usa-nav__secondary-item">
              <a href="/faq/">
                FAQs
              </a>
            </li>
          </ul>
          <section aria-label="Search component">
            <form class="usa-search usa-search--small" role="search">
              <label class="usa-sr-only" for="search-field">Search</label>
              <input
                class="usa-input"
                id="search-field"
                type="search"
                name="search"
              />
              <button class="usa-button" type="submit">
                <img
                  src={searchIcon}
                  class="usa-search__submit-icon"
                  alt="Search"
                />
              </button>
            </form>
          </section>
        </div>
      </div>
    </nav>
    </header>
  
