---
import GSALogo from '../assets/images/gsa-smartpay-logo.png'
import closeIcon from '../assets/images/usa-icons/close.svg'
---
<header class="usa-header usa-header--extended">
    <div class="usa-navbar">
      <div class="usa-logo" id="header-logo">
          <a href={`${import.meta.env.BASE_URL}`}>
              <img class="usa-logo-img" src={GSALogo} alt="GSA SmartPay Logo" title="U.S. General Services Administration">
          </a>
      </div>
      <button type="button" class="usa-menu-btn cursor-pointer">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <div class="usa-nav__inner">
        <button type="button" class="usa-nav__close">
          <img src={ closeIcon } alt="Close" />
        </button>
        <ul id='header_main_menu' class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-one"
            >
              <span>About</span>
            </button>
            <ul id="extended-nav-section-one" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="extended-nav-section-two"
            >
              <span>How it Works</span>
            </button>
            <ul id="extended-nav-section-two" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a href=""><span class="margin-x-1">&lt;Navigation link&gt;</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    </header>
  
