---
import PrimaryDropDownMenu from './PrimaryDropDownMenu.astro';
import PrimaryMenuItem from './PrimaryMenuItem.astro';
import closeIcon from '../assets/images/usa-icons/close.svg'

import { getEntry } from 'astro:content';
const menuData = await getEntry('nav', 'menu');
---

<button type="button" class="usa-nav__close">
  <img src={ closeIcon } alt="Close" />
</button>
<ul id='header_main_menu' class="usa-nav__primary usa-accordion">
  {
    menuData.data.map(menu => 
      menu.submenu 
      ? <PrimaryDropDownMenu 
          title={menu.title}
          submenu={menu.submenu}
        />
      : <PrimaryMenuItem 
          title={menu.title}
          href={menu.href} 
        />
    )
  }
</ul>
    

