---
/*
This component is used for individual single page that have side navigation
Page title itself is not part of menu item. Menu items is only set for individual page h2 headings.
It include top navigation return to its parent level navigation.
*/
import TopNav from "@components/TopNav.astro";
const {headings, title, parent_nav_path, parent_nav_text} = Astro.props;
---
<div class="usa-layout-docs__sidenav desktop:grid-col-4">
  { parent_nav_path && parent_nav_text && (
    <TopNav parent_nav_path = {parent_nav_path} parent_nav_text ={parent_nav_text} />
  )}
  <nav class="sp_site_nav" aria-label="Secondary navigation">
    <div class="sp_site_nav_title">{ title }</div>
      <ul class="usa-sidenav">
            {headings.filter(h => h.depth == 2).map(h => (
                <li class="usa-sidenav__item">
                  <a
                    href={`#${h.slug}`}
                  >
                  {h.text}
                  </a>
                </li>)
            )}
     </ul>
  </nav>
</div>

