<section class="bg-base-lighter padding-2 radius-md">
<ul>
  <li>
  <p><b>Centrally billed accounts (CBA):</b> Accounts are issued at the agency, bureau, division, or fleet level, rather than to individuals (even if an individual’s name is on the card).  The federal government is billed directly for the purchase of goods and services and should not be assessed sales or use tax. These include:</p>
    <ul>
      <li>Purchase cards</li>
      <li>CBA Travel cards</li>
      <li>Fleet cards</li>
      <li>Integrated cards</li>
      <li>Tax Advantage Travel cards</li>
    </ul>
  </li>
  <li><p><b>Individually billed accounts (IBA):</b>
    Accounts are issued to authorized federal government employees. Transactions may include travel expenses, which are paid by the employee directly and are later reimbursed by the federal government.  This applies to IBA travel cards.
    </p>
  </li>
</ul>
</section>
