<!-- navigation style matching with home page
  <div class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose">
          <h3 class="padding-bottom-1">SmartTax</h3>
          <ul class="usa-list--unstyled">
            {%- for page in collections.smarttax | sort(attribute='data.sortorder') %}
              <li class="padding-bottom-2"><a href="{{ page.url }}">{{ page.data.title }}</a></li>
            {% endfor %}
          </ul>
 </div>
-->
{#
  each child page should has sidenav_parent_text value defined, set it to its parent nav text
  also need parent link defined and set it to parent nav url
  e.g for smarttax child page, you can include below values in front matter
  tags:smarttax
  sidenav_parent_text: SmartTax
  parent_link: /smarttax/
  
  when introducing new side nav, please update elseif sidenav_parent_text=='New side nav parent header text' and set menuitems to its collection tags value. 
  e.g. adding new side nav for Policies, adding below line code to it
  {% elseif sidenav_parent_text=='Policies' %}
    {% set menuitems = collections.policies %}
  {% endif %}
#}
   <div class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose">
        <nav aria-label="Side navigation">
         <h3 class="padding-bottom-1"><a href={{parent_link | url }} style=" text-decoration: none; color: #505050;"> {{sidenav_parent_text}} </a></h3>
          <ul class="usa-sidenav">
          
            {% if sidenav_parent_text=='SmartTax' %}
              {% set menuitems = collections.smarttax | sort(attribute='data.sortorder') %}
            {% elseif sidenav_parent_text=='Policies' %}
              {% set menuitems = collections.policies %}
            {% endif %}
            {%- for item in menuitems %}
              <li class="usa-sidenav__item"><a href="{{ item.url | url }}" {% if page.url == item.url %} class="usa-current" {% endif %} >{{ item.data.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
    </div>

 