//header section
.usa-header--extended {  
  .usa-logo {
    margin: 1rem 0 0.5rem;
  }
}
.usa-header {  
    .usa-logo {
      display: flex;
      flex-wrap: wrap;
      align-items: self-end;
      font-size: 1.125rem;
      line-height: 1.7;  
      margin: 1rem 0 0.5rem;

      @include at-media($theme-header-min-width)  {
        font-size: 2.13rem;
        line-height: 1;
        em {
            margin-top: .25em;
        }
      }
      .usa-logo-img {
        float: left;
        height: units(5);
        margin-right: units(1);
  
        @include at-media($theme-header-min-width) {
          margin-top: 0;
          height: units(6);
        }
  
        + .usa-logo__text {
          float: left;
        }
      }
    }
  
    &.usa-header--extended .usa-logo-img {
      @include at-media($theme-header-min-width) {
        height: 6rem;
      }
    }
  }


// Hero Section
.usa-hero{
    color: color('ink');
    .usa-hero__callout{
        background-color: white;
        max-width: 27em;
    }
    .usa-hero__heading--alt{
        color: color('base-darkest');
    }
}
// Business Line Section
.align-items-center{
  display:flex;
  align-items: center;
}
.usa-section--dark{
  color: white;
  h2, h3 {
    color: white;
  }
}

// based on new design, h1-h3 are using Merriweather and use base darkest color
h1, h2, h3{
  font-family: family('serif');
  color: color('base-darkest');
}

.base-color{
  color:color('base');
}