.usa-sidenav {
    .usa-sidenav__item {
        
        background-color: color('base-lightest');
        &:hover {
            background-color: color('base');
            color: color('base-lightest');
        }
    }
    a:not(.usa-button):hover {
        background-color: color('base');

    }
    a:not(.usa-button):not(.usa-current) {
        color: color('primary-vivid');
        &:hover {
            color: color('base-lightest');
        }
    }
    .usa-sidenav__item.current {
        background-color: color('base');
        &:hover {
            color: color('base-lightest')
        }
    }
    .usa-current {
        color: color('base-lightest');
        font-weight: normal;
    }
}
.sp_site_nav {
    h4 {
        margin-top:0;
        padding-top: 1em;
        border-top: 2px solid color('base-light');
        padding-left: .5em;
        color: color('base');
    }
}


