---
import PageLayout from '../../layouts/PageLayout.astro';
import SideNav from '../../components/SideNav.astro'

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const entries = await getCollection('merchants');
  return entries.map(entry => {
    const slug = entry.slug == './' ? undefined : entry.slug
    return {
      params: { slug: slug },
      props: { entry, entries }
    }
  })
}

const navigation_items = [
    {
        slug: "faq/#merchants",
        data: {"title": "Merchants FAQs" }
    },
    {
        slug: "smarttax/recognizing-your-account",
        data: {"title": "Recognizing Card Types" }
    }
]

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<PageLayout title={entry.data.title}>
  <SideNav 
    title="Merchants"
    parent_path=""
    pages={navigation_items}
    id={entry.id}
  />
  <div class="usa-layout-docs__main desktop:grid-col-8 usa-prose usa-layout-docs">
    <h1>{ entry.data.title }</h1>

    { entry.data.intro && ( 
      <p class="usa-intro">
        { entry.data.intro }
      </p>
    )}

    <Content />
</div>
</PageLayout>
    
