---
layout: layouts/base
---

{% comment %}
This template is for a single page that does not have a date associated with it. For example, an about page.
{% endcomment %}

<main id="main-content" class="grid-container usa-section">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-8 usa-prose">

      <h1 class="margin-top-0 margin-bottom-1 title">{{ title }}</h1>
      <div class="font-body-lg text-bold text-base">{{ brief }}</div>

      {{ content }}

    </div>
    {% if sidenav == true %}
      {% include "sidenav.html" %}
    {% endif %}
  </div>
</main>