---
layout: layouts/default
---

{% comment %}
This is used in blog posts. The index page can be found at blog/index.html
{% endcomment %}

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-layout-docs__main usa-prose desktop:grid-col-9">
        <h1 class="title">{{title}}</h1>
        <div class="text-base margin-bottom-2">
          <div class="margin-top-neg-105">
            By <span class="text-bold">{{ author }}</span> · {{ date | date: '%B %d, %Y' }}
          </div>
        </div>
        {% if image %}
          {% assign imagepath="./_img/" | append: image %}
          {% image imagepath image_alt_text %}
        {% endif %}
        {{ content }}
      </div>
    </div>
  </div>
</div>
