---
layout: layouts/page
date: git Last Modified
tags: state-tax-information
hideTitle: true
eleventyComputed:
  title: "{{ name }} Tax Information"
  permalink: "/smarttax/state-tax-information/{{ name | slug }}/"
sidenav: smarttax
---

<form class="usa-form sp-inline-form" onsubmit="event.preventDefault(); return showstate();">
  <label class="usa-sr-only" for="ddlstates">Select your state for exemption status, forms or certificates, and important info </label>

  <select class="usa-select sp-inline-form-input" name="ddlstates" id="ddlstates">
    <option value>Select a state</option>
    {% for state in collections['state-tax-information'] | sort(false, false, "data.name") %}
      <option value="{{ state.data.permalink | url }}">{{ state.data.name }}</option>
    {% endfor %}
  </select>

  <button class="usa-button sp-inline-form-submit-button" type="submit">Go</button>
</form>

<h1>{{ title }}</h1>

{% if exceptionsApply %}
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <h4 class="usa-alert__heading">State forms or exceptions apply</h4>
      <p class="usa-alert__text">
        {{ name }} has special forms, regulations, or exceptions.
      </p>
    </div>
  </div>
{% endif %}

<ul>
  {% for summaryItem in summary %}
    <li>{{ summaryItem }}</li>
  {% endfor %}
</ul>

<div>
  <small><i><a href="https://smartpay.gsa.gov/content/recognizing-your-account">Need help recognizing a card or telling if a card is an IBA or CBA?</a></i></small>
</div>

{{ content | safe }}

<h2>Point of Contact</h2>
<div>
  <a href="{{ contact.link }}">{{ contact.name }}</a>
</div>
<div>
  {{ contact.phone }}
</div>

<div class="margin-top-4">
  <small>Updated {{ page.date | formatDateMedium }}</small>
</div>

<script src="{{ '/assets/js/state-tax-info.js' | url }}"></script>
