---
import BaseLayout from "./BaseLayout.astro";
const { title } = Astro.props;
---
<BaseLayout title={title}>
  
  <section class="grid-container usa-section">
    <div class="grid-row grid-gap">
      <slot />
    </div>
  </section>
</BaseLayout>