---
import BaseLayout from "@layouts/BaseLayout.astro";
const { title, description } = Astro.props;
---
<BaseLayout title={title} description={description}>
  
  <section class="grid-container usa-section">
    <div class="grid-row grid-gap">
      <slot />
    </div>
  </section>
</BaseLayout>