---
import BaseLayout from "./BaseLayout.astro";
---
<BaseLayout>
  <section class="grid-container usa-section">
    <div class="grid-row grid-gap">
      <slot />
    </div>
  </section>
</BaseLayout>