---
import PageLayout from '../../layouts/PageLayout.astro';
import SideNav from '../../components/FAQSideNav.astro'
import { getEntry} from 'astro:content';
const page = await getEntry('faq','faq');

const faq = await page.render()
const Content = faq.Content
const headings = faq.headings

// put h3 items as submenu of h2 and form new headings
const newHeadings = []
let currentParent = null;
for(const heading of headings){
  if(heading.depth ===2 )
  {
    currentParent = {...heading, submenu:[]}
    newHeadings.push(currentParent)
  }
  else if(heading.depth===3 && currentParent)
  {
    currentParent.submenu.push(heading);
  }
}
//console.log(newHeadings)
---
<PageLayout title={page.data.title} description={page.data.description}>
  <SideNav 
  title="Frequently Asked Questions"
  headings ={newHeadings}
  />
  <main id="main-content" class="usa-layout-docs__main desktop:grid-col-8 usa-prose usa-layout-docs">
    <h1>Frequently Asked Questions</h1>
    <Content />
  </main>
</PageLayout>
<script >
  import {handleAccordionSearch} from "../../assets/js/faqHelper.js"
  handleAccordionSearch();
</script>
